body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 400;
}
h1{
    font-size: 42px;
}
.half{

 padding: 0 5%;
    width: 50%; 
    margin: 0;
}

.top-sec{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  
  
}
.half img{
    width: 100%;
}
.tomato-text{
color: tomato;

}
.baton{
    padding: 5px 40px;
 
background-image: linear-gradient(tomato, orange) ;
border-radius: 10px;
text-decoration: none;
font-size: 15px;
color: white;
}
.middle-sec{
display: flex;
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}